.menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: #231f20;
}

.navbar {
    display: flex;
}

.hamburger_box {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 2vw;
    margin-top: 2vw;
}

.separator {
    font-size: 1vw;
    margin-top: 4vh;
    height: 0.5vh;
    width: 90%;
    background-color: #dec2ba;
    color: #dec2ba;
}

.joinus {
    margin-left: auto;
    margin-right: 3vw;
    margin-top: 2vw;
    align-self: center;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu label {
    color: #dec2ba;
    font-size: x-large;
}

.menu button a {
    color: white;
}

@media only screen and (max-width: 40em) {
    .menu img {
        width: 10vw;
        justify-content: center;
    }
    .menu button {
        width: 60vw;
        height: 30vw;
        font-size: 24px;
        font-weight: 900;
        color: black;
        background-color: #dec2ba;
        align-self: center;
        justify-content: center;
        border-radius: 50px;
        margin-top: 3vh;
        margin-bottom: 5vh;
    }

    .arrow {
        margin-top: 3vh;
        width: 10vw;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .menu h1 {
        color: white;
        font-size: 48px;
        font-weight: 100;
        margin-top: 6vh;
        align-self: center;
        align-items: center;
    }

    .menu h2 {
        margin-top: 3vh;
        color: #9c9c9c;
        font-size: 24px;
    }
}

@media only screen and (min-width: 40em) {
    .menu img {
        width: 10vw;
        justify-content: center;
    }
    .menu button {
        width: 14vw;
        height: 4vw;
        font-size: 1.2vw;
        font-weight: 900;
        color: black;
        background-color: #dec2ba;
        align-self: center;
        justify-content: center;
        border-radius: 50px;
        margin-top: 3vh;
        margin-bottom: 5vh;
    }

    .arrow {
        margin-top: 4vh;
        width: 3vw;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu h1 {
        color: white;
        font-size: 64px;
        font-weight: 100;
        margin-top: 6vh;
    }

    .menu h2 {
        margin-top: 3vh;
        color: #9c9c9c;
        font-size: 24px;
    }
}
