.footer {
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer_text {
    margin-top: 1%;
    text-align: center;
    height: 10%;
    width: 100%;
    order: 0;
}

.footer_socials {
    color: silver;
    margin-top: 1%;
    text-align: center;
    height: 10%;
    width: 100%;
    order: 1;
}

.footer label {
    color: silver;
    padding: 1% 5% 1% 1%;
}

.footer a {
    color: silver;
    text-decoration: none;
    margin: 1% 1% 1% 1%;
}
