.us {
    margin-top: 4%;
    font-size: 18px;
    width: 100%;
    height: 100%;
    border: solid;
    background-image: url("../../images/sep09.jpg");
    background-size: contain;
    color: white;
    text-align: center;
}

.us button {
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 18px;
    width: 30%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.us h1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.us h3 {
    color: silver;
    margin-left: auto;
    margin-right: auto;
}
