.company {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.company h1 {
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    width: 75%;
}

.company h3 {
    color: gray;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}
