.form {
    flex-wrap: nowrap;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: #231f20;
    padding-top: 4vh;
    margin-bottom: 4vh;
    border-top: 6px solid #dec2ba;
}

.content {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    background-color: #231f20;
    margin-left: 2vw;
    margin-right: 2vw;
}

.bottom {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
    padding-bottom: 3vh;
}

.bottom_text {
    margin-left: 4.5vw;
    padding-top: 1vh;
    margin-bottom: 2.5vh;
    width: 87%;
}

.email {
    align-self: center;
    justify-content: center;
}

.content_box {
    align-self: center;
    align-content: center;
    align-items: center;
}

.inputs_box {
    padding-bottom: 3vh;
    border-bottom: 0.25vh solid #dec2ba;
    text-align: center;
    align-items: center;
}

.input::placeholder {
    color: #9c9c9c;
}

.button {
    width: 50%;
    height: 6vh;
    background-color: #dec2ba;
    border-radius: 50px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    margin-top: 3vh;
    align-self: center;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    width: 50%;
    align-content: center;
    text-align: center;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.input {
    margin-top: 2vh;
    width: 90%;
    height: 4vh;
    background-color: white;
    border-radius: 50px;
    color: black;
    padding-left: 4vw;
    font-size: 14px;
}

@media only screen and (max-width: 40em) {
    .form h1 {
        color: #dec2ba;
        font-size: 42px;
    }
    .form h2 {
        color: white;
        font-size: 28px;
    }
    .form h3 {
        color: #9c9c9c;
        font-size: 18px;
    }
    .form h4 {
        color: #231f20;
        font-size: 14px;
        font-weight: 400;
    }
}

@media only screen and (min-width: 40em) {
    .form h1 {
        color: #dec2ba;
        font-size: 42px;
    }
    .form h2 {
        color: white;
        font-size: 28px;
    }
    .form h3 {
        color: #9c9c9c;
        font-size: 18px;
    }
    .form h4 {
        color: #231f20;
        font-size: 22px;
        font-weight: 400;
    }
}
