.work {
    font-size: 18px;
    margin-top: 7%;
    margin-bottom: 7%;
    width: 100%;
}

.header {
    text-align: center;
}

.content {
    font-size: 18px;
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.work h1 {
    color: black;
    font-size: 32px;
}

.work h2 {
    color: black;
    font-size: 22px;
}

.work p {
    color: rgba(0, 0, 0, 0.315);
    font-size: 24px;
}

.work p:first-of-type::first-letter {
    color: black;
    float: left;
    font-size: 4rem;
    line-height: 4vw;
    padding-right: 8px;
    /* border: 0.25em double; */
}

.section1 {
    margin-left: 5%;
    width: 30%;
    order: 1;
    border-top: solid;
}

.section2 {
    margin-left: 5%;
    width: 30%;
    order: 2;
    border-top: solid;
}

.section3 {
    margin-left: 5%;
    width: 30%;
    order: 3;
    border-top: solid;
}

.title_holder {
    flex-wrap: nowrap;
    display: flex;
    justify-content: left;
    // position: absolute;
}
.title {
    height: 40px;
    border-right: 3px solid white;
    font-size: 30px;
    color: black;
    width: 0;
    overflow: hidden;
    white-space: no-wrap;
    display: block;
    animation: typewriter 15s steps(35) infinite, blinking-cursor 0.8s infinite;
    animation-fill-mode: forwards;
}

@keyframes typewriter {
    0% {
        width: 0;
    }
    25% {
        width: 70%;
    }
    48% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    55% {
        width: 100%;
    }
    75% {
        width: 70%;
    }
    85% {
        width: 30%;
    }
    100% {
        width: 0;
    }
}

// @keyframes blinking-cursor {
//     from {
//         border-color: transparent;
//     }
//     to {
//         border-color: black;
//     }
// }
