.work {
    font-size: 18px;
    margin-top: 5%;
    width: 100%;
    background-size: contain;
}

.header {
    text-align: center;
}

.content {
    font-size: 18px;
    margin-top: 3%;
    width: 100%;
    background-size: contain;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.work h1 {
    color: black;
    font-size: 32px;
}

.work h2 {
    color: black;
    font-size: 22px;
}

.work p {
    color: rgba(0, 0, 0, 0.315);
    font-size: 18px;
}

.section1 {
    margin-left: 5%;
    width: 30%;
    order: 1;
}

.section2 {
    margin-left: 5%;
    width: 30%;
    order: 2;
}

.section3 {
    margin-left: 5%;
    width: 30%;
    order: 3;
}
