.menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: #231f20;
}

.navbar {
    display: flex;
    margin-top: 3vw;
}

.separator {
    font-size: 1vw;
    margin-top: 4vh;
    height: 1px;
    width: 90%;
    background-color: #dec2ba;
    color: #dec2ba;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu li:hover {
    color: black;
    border-bottom: solid 0.35vh rgb(125, 0, 0);
}

@media only screen and (max-width: 40em) {
    .hamburger_box {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 4vw;
        border: 1px solid red;
    }

    .menu label {
        color: #dec2ba;
        font-size: 10px;
    }

    .joinus {
        margin-left: auto;
        margin-right: 3vw;
        align-self: center;
        border: 1px solid red;
    }

    .logo_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 10vw;
        height: 5vh;
    }

    .hamburger {
        width: 0.5vw;
        height: 0.5vh;
    }

    .menu h1 {
        color: #dec2ba;
        font-size: 22px;
    }

    .menu h2 {
        margin-top: 3vh;
        color: #9c9c9c;
        font-size: 12px;
    }

    .menu img {
        width: 20vw;
        justify-content: center;
    }
    .menu button {
        width: 40vw;
        height: 10vw;
        font-size: 3vw;
        font-weight: 900;
        color: black;
        background-color: #dec2ba;
        align-self: center;
        justify-content: center;
        border-radius: 50px;
        margin-top: 2vh;
        margin-bottom: 6vh;
    }
}

@media only screen and (min-width: 40em) {
    .hamburger_box {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 4vw;
        margin-top: 2vw;
    }
    .hamburger {
        width: 0.5vw;
        height: 0.5vh;
    }
    .menu label {
        color: #dec2ba;
        font-size: 24px;
    }
    .joinus {
        margin-left: auto;
        margin-right: 4vw;
        margin-top: 2vw;
        align-self: center;
    }

    .logo_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu h1 {
        color: #dec2ba;
        font-size: 44px;
    }

    .menu h2 {
        margin-top: 3vh;
        color: #9c9c9c;
        font-size: 24px;
    }

    .menu ul {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 3%;
    }
    .menu li {
        border-bottom: 0.1vh solid black;
        font-weight: bolder;
        font-size: 0.7vw;
        color: #00000094;
        order: 1;
        flex-grow: 0;
        list-style-type: none;
        align-self: flex-end;
        margin-right: 3%;
        margin-left: 3%;
        padding-right: 3%;
        padding-left: 3%;
    }
    .menu img {
        width: 10vw;
        justify-content: center;
    }
    .menu button {
        width: 10vw;
        height: 3vw;
        font-size: 1vw;
        font-weight: 900;
        color: black;
        background-color: #dec2ba;
        align-self: center;
        justify-content: center;
        border-radius: 50px;
        margin-top: 2vh;
        margin-bottom: 6vh;
    }
}
