@font-face {
    font-family: "MontserratMedium";
    src: url("../fonts/Montserrat-Medium.otf");
}

html,
body {
    margin-top: 1%;
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 290vh;
    font-family: MontserratMedium;
}
footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
.content {
    background-color: white;
    width: 70vw;
    height: 270vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 20px rgba(#000, 0.001);
    box-shadow: 0px 0px 20px 20px rgba(60, 60, 60, 0.1);
}

.navbar {
    order: 0;
    margin-bottom: 2%;
}

.us {
    border: solid;
    margin-top: 2%;
    order: 1;
}

.scroll_text {
    order: 2;
}

.separator1 {
    margin-top: 8%;
    height: 1px;
    width: 100%;
    background-color: rgb(190, 190, 190);
    order: 3;
    text-align: right;
    color: rgba(0, 0, 0, 0.253);
}

.quote {
    order: 4;
}

.separator2 {
    margin-top: 5%;
    margin-bottom: 2%;
    height: 1px;
    width: 100%;
    background-color: rgb(190, 190, 190);
    order: 5;
    text-align: right;
    color: rgba(0, 0, 0, 0.253);
}

.about {
    order: 6;
}

.team {
    order: 7;
}

.separator3 {
    margin-top: 8%;
    height: 1px;
    width: 100%;
    background-color: rgb(190, 190, 190);
    order: 8;
    text-align: right;
    color: rgba(0, 0, 0, 0.253);
}

.work {
    order: 9;
}

.company {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 80%;
    order: 10;
}
