.fundamentals {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    background-color: #231f20;
    padding-top: 4vh;
    margin-bottom: 4vh;
}

.content {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #231f20;
    border-right: 6px solid white;
    margin-left: 5vw;
    margin-right: 5vw;
    align-content: center;
}

.content_box {
    align-self: center;
    align-content: center;
    align-items: center;
    margin-right: 10vw;
}

.header {
    margin-right: 10vw;
    margin-left: 5vw;
    padding-bottom: 1vh;
    border-bottom: 4px solid white;
    width: 24vw;
    height: 10vh;
    margin-bottom: 6vh;
}

.quote {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    margin: 5vw 4vw 4vw 5vw;
    align-self: center;
    align-content: center;
    align-items: center;
}

@media only screen and (max-width: 40em) {
    .fundamentals h1 {
        color: #dec2ba;
        font-size: 24px;
        font-weight: 700;
    }
    .content h2 {
        color: #dec2ba;
        font-size: 44px;
        font-weight: 700;
    }
    .fundamentals h3 {
        color: #dec2ba;
        font-size: 24px;
        font-weight: 700;
        height: 2vh;
    }
    .fundamentals h2 {
        color: white;
        font-size: 24px;
        font-weight: 700;
        height: 2vh;
    }
}

@media only screen and (min-width: 40em) {
    .fundamentals h1 {
        margin: 0 0vh 6vh 0vh;
        color: white;
        font-size: 42px;
        font-weight: 700;
    }
    .content h3 {
        color: #9c9c9c;
        font-size: 24px;
        font-weight: 700;
        height: 2vh;
        margin-bottom: 4vh;
    }
    .fundamentals h4 {
        color: #dec2ba;
        font-size: 24px;
        font-weight: 700;
        margin: 0 0vh 1.5vh 0vh;
    }
    .fundamentals h2 {
        color: white;
        font-size: 28px;
        font-weight: 100;
    }

    .quote h3 {
        color: #dec2ba;
        font-size: 28px;
        font-weight: 900;
        margin-left: 2vw;
        align-self: center;
        align-content: center;
        align-items: center;
    }

    .fundamentals h2:before {
        content: "\201c";
    }
    .fundamentals h2:after {
        content: "\201d";
    }
}
