.fundamentals {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}

.diagonal_box {
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 2vh;
    transform: skewY(-2deg);
    text-align: center;
    padding-bottom: 14vh;
    padding-top: 5vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    // border: 1vh solid white;
}

.divider {
    background-color: #2c2c2c;
    box-shadow: inset 0px 0px 20px 20px #231f20;
    width: 90%;
    text-align: center;
    margin-bottom: 8vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-size: 100%;
    align-self: center;
    padding-left: 4vw;
    padding-right: 4vw;
}
.divider_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.quote {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    margin: 2vw 4vw 4vw 5vw;
    align-self: center;
    align-content: center;
    align-items: center;
}

@media only screen and (max-width: 40em) {
    .header {
        margin-right: 10vw;
        margin-left: 10vw;
        padding-bottom: 1vh;
        border-bottom: 4px solid white;
        width: 80%;
        height: 10vh;
        margin-bottom: 3vh;
    }
    .content_box {
        align-self: center;
        align-content: center;
        align-items: center;
        margin-right: 15vw;
        margin-left: 12vw;
        margin-bottom: 10vh;
    }
    .divider h1 {
        color: white;
        font-size: 16px;
        font-weight: 900;
        text-align: center;
    }
    .divider h2 {
        color: #9c9c9c;
        font-size: 20px;
        font-weight: 100;
    }

    .divider h2 b {
        margin-left: 1vw;
        color: #dec2ba;
        font-size: 18px;
        font-weight: 100;
    }
    .divider h3 {
        color: #dec2ba;
        font-size: 18px;
        font-weight: 700;
    }
    .header h1 {
        margin: 0 0vh 10vh 0vh;
        color: white;
        font-size: 28px;
        font-weight: 700;
    }
    .content h3 {
        color: #9c9c9c;
        font-size: 24px;
        font-weight: 700;
        height: 2vh;
        margin-bottom: 5vh;
    }
    .header h4 {
        color: #dec2ba;
        font-size: 20px;
        font-weight: 700;
        margin: 0 0vh 1.5vh 0vh;
    }
    .header h2 {
        color: white;
        font-size: 28px;
        font-weight: 100;
    }

    .header h3 {
        margin-left: 2vw;
        color: #dec2ba;
        font-size: 28px;
        font-weight: 100;
    }

    .diagonal_box h2 {
        color: #dec2ba;
        font-size: 20px;
        font-weight: 900;
        margin-left: 2vw;
        align-self: center;
        align-content: center;
        align-items: center;
        transform: skewY(2deg);
    }

    .diagonal_box h3 {
        color: #9c9c9c;
        font-size: 22px;
        font-weight: 900;
        margin-left: 2vw;
        align-self: center;
        align-content: center;
        align-items: center;
        transform: skewY(2deg);
    }

    .fundamentals h2:before {
        content: "\201c";
    }
    .fundamentals h2:after {
        content: "\201d";
    }
}

@media only screen and (min-width: 40em) {
    .content {
        flex-wrap: nowrap;
        display: flex;
        justify-content: left;
        width: 80%;
        margin-left: 10vw;
        flex-direction: row;
        background-color: #231f20;
        border-right: 6px solid white;
        align-content: center;
        margin-bottom: 8vh;
    }
    .header {
        margin-right: 10vw;
        margin-left: 10vw;
        padding-bottom: 1vh;
        border-bottom: 4px solid white;
        width: 24vw;
        height: 10vh;
        margin-bottom: 6vh;
    }
    .content_box {
        align-self: center;
        align-content: center;
        align-items: center;
        margin-right: 10vw;
    }
    .divider h1 {
        color: white;
        font-size: 42px;
        font-weight: 900;
    }
    .divider h2 {
        color: #9c9c9c;
        font-size: 32px;
        font-weight: 100;
    }

    .divider h2 b {
        margin-left: 1vw;
        color: #dec2ba;
        font-size: 32px;
        font-weight: 100;
    }
    .divider h3 {
        color: #dec2ba;
        font-size: 22px;
        font-weight: 700;
    }
    .header h1 {
        margin: 0 0vh 6vh 0vh;
        color: white;
        font-size: 42px;
        font-weight: 700;
    }
    .content h3 {
        color: #9c9c9c;
        font-size: 24px;
        font-weight: 700;
        height: 2vh;
        margin-bottom: 5vh;
    }
    .header h4 {
        color: #dec2ba;
        font-size: 24px;
        font-weight: 700;
        margin: 0 0vh 1.5vh 0vh;
    }
    .header h2 {
        color: white;
        font-size: 28px;
        font-weight: 100;
    }

    .header h3 {
        margin-left: 2vw;
        color: #dec2ba;
        font-size: 28px;
        font-weight: 100;
    }

    .diagonal_box h2 {
        color: #dec2ba;
        font-size: 28px;
        font-weight: 900;
        margin-left: 2vw;
        align-self: center;
        align-content: center;
        align-items: center;
        transform: skewY(2deg);
    }

    .diagonal_box h3 {
        color: #9c9c9c;
        font-size: 28px;
        font-weight: 900;
        margin-left: 2vw;
        align-self: center;
        align-content: center;
        align-items: center;
        transform: skewY(2deg);
    }

    .fundamentals h2:before {
        content: "\201c";
    }
    .fundamentals h2:after {
        content: "\201d";
    }
}
