.quote {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.typing {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing_effect {
    width: 22ch;
    animation: typing 2s steps(22), effect 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes effect {
    50% {
        border-color: transparent;
    }
}

@media only screen and (max-width: 40em) {
    .quote h1 {
        color: black;
        margin-left: auto;
        margin-right: auto;
        font-size: 3vw;
    }

    .quote h3 {
        color: gray;
        font-size: 2vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 40em) {
    .quote h1 {
        color: black;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5vw;
    }

    .quote h3 {
        color: gray;
        font-size: 1vw;
        margin-left: auto;
        margin-right: auto;
    }
}
