.quote {
    font-size: 18px;
    margin-top: 5%;
    width: 100%;
    background-size: contain;
    text-align: center;
}

.quote h1 {
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}

.quote h3 {
    color: gray;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}
