.ideas {
    flex-wrap: nowrap;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: #231f20;
    padding-bottom: 1vh;
    margin-bottom: 10vh;
}

.content_box {
    align-self: center;
    align-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-right: 2vw;
    margin-top: 2vh;
}

.ideas h1 {
    color: #dec2ba;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 3vh;
}

@media only screen and (max-width: 40em) {
    .icons {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        border-bottom: 5px solid #dec2ba;
        margin-top: 3vh;
    }
    .content h3 {
        color: white;
        font-size: 24px;
        font-weight: 700;
        width: 50%;
        margin-left: 0.5vw;
    }
    .ideas h4 {
        color: #9c9c9c;
        font-size: 18px;
        font-weight: 200;
        line-height: 4vh;
        height: 7vh;
        margin-bottom: 4vh;
        padding-bottom: 1vh;
    }
    .ideas h2 {
        color: white;
        font-size: 24px;
        font-weight: 700;
        height: 2vh;
        margin: 10vh 0vw 5vh 0vw;
        line-height: 6vh;
        padding-right: 2vh;
    }
    .content {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #231f20;
        align-content: center;
        margin-left: 4vw;
        margin-right: 2vw;
    }
    .ideas_header {
        margin-left: 5vw;
    }
}

@media only screen and (min-width: 40em) {
    .icons {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        border-bottom: 5px solid #dec2ba;
    }
    .content h3 {
        color: white;
        font-size: 26px;
        font-weight: 700;
        width: 50%;
        margin-left: 0.5vw;
    }
    .ideas h4 {
        color: #9c9c9c;
        font-size: 22px;
        font-weight: 200;
        line-height: 4vh;
        height: 2vh;
        margin-bottom: 4vh;
        padding-bottom: 1vh;
    }
    .ideas h2 {
        color: white;
        font-size: 24px;
        font-weight: 700;
    }
    .content {
        flex-wrap: nowrap;
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: #231f20;
        align-content: center;
        margin-left: 4vw;
        margin-right: 2vw;
        margin-top: 3vh;
    }
    .ideas_header {
        margin-left: 5vw;
        margin-top: 6vh;
    }
}
