.about {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.content {
    width: 100%;
    background-size: contain;
    text-align: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.about h1 {
    color: black;
    font-size: 1.5vw;
}

.about p {
    color: gray;
    font-size: 1vw;
    border-left: solid;
    padding-left: 2%;
}

.about h3 {
    color: gray;
    font-size: 1vw;
}

.img {
    box-shadow: 0px 0px 30px 30px rgba(190, 190, 190, 0.3);
    border-radius: 10%;
    margin-left: 5%;
    width: 45%;
}
