.menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: left;
}

.logo {
    align-self: flex-end;
}

.menu ul {
    display: flex;
    justify-content: right;
    width: 100%;
}

//   margin-top: 100px;
//   margin-bottom: 100px;
//   margin-right: 150px;
//   margin-left: 80px;
.menu li {
    font-family: "Inter";
    font-weight: bolder;
    font-size: 16px;
    color: #00000094;
    order: 1;
    flex-grow: 0;
    list-style-type: none;
    align-self: flex-end;
    border-right: 3px solid black;
    border-left: 3px solid black;
    margin-right: 3%;
    margin-left: 3%;
    padding-right: 3%;
    padding-left: 3%;
}

.menu li:hover {
    color: black;
    text-decoration: underline;
    border-right: 3px solid rgba(0, 0, 0, 0.336);
    border-left: 3px solid rgba(0, 0, 0, 0.336);
}

.menu button {
    width: 10%;
    height: 50%;
    margin-left: 20%;
    color: white;
    background-color: black;
    order: 2;
    align-self: flex-end;
}
